body{
    background-image: url(hatter.jpg)
}
.balra{
    float: left;
    max-height: 50px;
    margin: 10px;
}
.headerkep{
    margin: 20px;
    margin: auto;
}
.bold{
    font-weight: bold;
}
/*.jobbra{
   float: right;
    width: 200px;
    height: 150px;
    margin: 20px;
}*/